* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 15px 280px;
}

.header .title {
    padding: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: stretch;
}

.sect1,
.sect2,
.sect3,
.sect4 {
    flex-grow: 1;
}

.sect1 {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 280px;
}

.signupbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 24px;
    font-weight: 800;
}

.sect1 .maintext {
    padding: 0;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: pink; */
    max-width: 450px;
}

.sect1 .maintext h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.sect1 .maintext p {
    margin-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

.sect1 .image {
    margin-left: auto;
    flex-grow: 0;
    padding: 0;
    background-color: grey;
    min-width: 601px;
    min-height: 258px;
    justify-content: center;
}

.sect2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.sect2 .title {
    font-size: 20px;
    color: #1F2937;
    font-weight: 900;
    margin: 25px auto;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
}

.border {
    border: 4px solid #3882F6;
    border-radius: 25px;
    height: 180px;
    width: 180px;
}

.card p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 18px;
    max-width: 188px;
    padding-top: 5px;
    color: #1F2937;
    font-weight: light;
}

.sect3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.sect3 .quotetext {
    font-family: "Roboto", sans-serif;
    max-width: 932px;
    padding: 100px 0px;
}

.sect3 .quotetext .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.sect3 .quotetext .sig {
    margin-left: auto;
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

.sect4 {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #F9FAF8;
}

.sect4 .signupbox {
    display: flex;
    margin: 60px 280px;
    flex-grow: 1;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 50px 0px;
    font-size: 24px;
    font-weight: bold;
}


.signupsubtext {
    font-weight: lighter;
    font-size: 14px;
}

.signuptext {
    margin-left: 20px;
}

.bottomsignupbutton {
    display: flex;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 18px;
    padding: 10px 60px;
    margin: 0px 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #1F2937;
    color: #E5E7EB;
}

.footer p {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: 14px;
}
